<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LibraryServletAssignment</display-name>
  <welcome-file-list>
    <welcome-file>adminlogin.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>example.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/books/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>example.servlet.book.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>example.servlet.book.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>example.servlet.book.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
</web-app>